body{
    background-color:  aliceblue ;
}

.gifs{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif{
    padding: 5px 5px;;
}

.col-auto{
    margin: 10px;
}

/* CSS for title of the page */
.title{
     text-align: center;
     font-size: 40px;
        background-color: black;
        background-size: cover;
        position: relative;
        text-transform: uppercase;
        font-family: 'Rancho', cursive;
        -webkit-background-clip: text;
        color: transparent;
}